# Ignora file di sistema
.DS_Store
Thumbs.db
.vs/

# BACKEND: Ignora dati e file binari
Backend/pb_data/
Backend/pb_migrations/
Backend/pocketbase.exe
Backend/LICENSE.md
Backend/CHANGELOG.md

# IGNORA CARTELLA DI VS COPILOT
App/Needy/.github/


# IGNORA I FILE TEMPORANEI OVUNQUE SI TROVINO
**/bin/
**/obj/
**/.vs/
*.user
/.github
